
<div class="box">
    <article class="media">

      <div class="media-content">
        <div class="content">
          <% if user_signed_in? %>
            <strong> <%= post.user.name %> </strong>
          <% end %>
          <p><%= post.content %></p>
        </div>

        <nav class="level">
          <div class="level-left is-mobile">
            <% if user_signed_in? %>
              <% if current_user.id == post.user_id %>
                <%= link_to 'Edit', edit_post_path(post) %> <p>&emsp;</p>
                <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            <% end %>
          </div>
        </nav>

      </div>
    </article>
  </div>
